@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model TestViewModel

@{
    ViewData["Title"] = "Test Index";
}

<h1>@ViewData["Title"]</h1>
<h2>Hi This is index view from test controller</h2>
<h3>My name is : @Model.Name and my age is : @Model.Age</h3>